import(MASS)

importFrom("graphics", "plot")
importFrom("stats", "coef", "cor", "sd")

## and exported functions
export(benchmark.pls,coef.plsdof,dA,dvvtz,information.criteria,krylov,normalize,pcr,pls.dof,pls.model,tr,vvtz,benchmark.regression,compute.lower.bound,dnormalize,first.local.minimum, kernel.pls.fit, linear.pls.fit, pcr.cv,pls.cv, pls.ic, ridge.cv,vcov.plsdof)

S3method(coef, plsdof)
S3method(vcov, plsdof)

